.header__info {
    width: 222px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
}

@media screen and (max-width: 550px) {
    .header__info {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}