.header__link {
    font-family: 'Inter', 'Arial', sans-serif;
    width: 115px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 910px) {
    .header__link {
        margin-right: 30px;
    }
}

@media screen and (max-width: 550px) {
    .header__link {
        margin-left: auto;
        margin-right: auto;
    }
}